<div class="full-screen setting-container">
  <div class="back-btn floating-btn" (click)="goBack()">
      <i class="anticon anticon-left"></i>
  </div>
  <div class="content">
    <div class="body">
      <img class="avatar" src="./assets/img/default-avatar.png">
      <nz-divider nzType="horizontal" nzText="用户名"></nz-divider>
      <input nz-input nzSize="large" [(ngModel)]="usernameInput" placeholder="用户名" (blur)="validateUsername()"/>
      <nz-divider [nzType]="'horizontal'" [nzText]="'应用设置'"></nz-divider>
    </div>
  </div>
</div>
